.form{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
}
form{
    min-width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0vw 2vw;
    z-index: 10;
}
form label{
    color: #000;
    font-size: 1vw;
    text-transform: capitalize;
    font-family: neue-light;
    font-weight: 200;
    letter-spacing: 0.1vw;
    margin-bottom: 0.5vw;
}
form h1{
    color: #000;
    text-align: center;
    margin-bottom: 2vw;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-family: neue-bold;
    font-weight: 200;
}
form input,button{
    display: block;
    width: 100%;
    padding: 0.7vw;
    margin-bottom: 1vw;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color:#f4f4f4;
    color: #000;
    padding-left: 1vw;
}

input,textarea::placeholder{
    color: #000;
    font-family: verdana;
    font-weight: 100;
    font-size: 1vw;
    font-family: neue-light;
    letter-spacing: 0.1vw;
}
span{
    color: #000;
}
button{
    width: 50%;
    background-color: #4b0084;
    color: #fff;
    font-family: neue-bold;
    font-size: 1vw;
    margin: auto auto;
    cursor: pointer;
}
.flex{
    padding-bottom: 1vw;
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
 .flex p{
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 100;
    font-size: 0.9vw;
    color: #EFEAE3;
}
 .flex a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 100;
    font-size: 0.9vw;
    color: #EFEAE3;
    cursor: pointer;
}
form textarea{
    display: block;
    width: 100%;
    padding: 0.7vw;
    margin-bottom: 1vw;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(67, 66, 66, 0.848);
    color: #ebe3e3;
    padding-left: 1vw;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}