<aside class="sidebar">
  <!-- <h2 style="font-weight: 600 !important;">Category</h2> -->
  <!-- <ul class="editor-list">
        <li>Best Sales</li>
        <li>Most Commented</li>
        <li>Newest Books</li>
        <li>Featured</li>
        <li>Watch History</li>
        <li>Best Books</li>
      </ul>

      <div class="filter-section">
        <h3>Choose Publisher</h3>
         Just dummy text for now
        <select>
          <option>Choose...</option>
        </select>
      </div>

      <div class="filter-section">
        <h3>Select Year</h3>
        <select>
          <option>Choose Year...</option>
        </select>
      </div> -->

  <div class="filter-section">
    <h3 class="category" style="margin-top: 2vw">Shop by Category</h3>
    <div class="category_items" *ngFor="let item of category">
      <span (click)="categoryFilter(item.category_id)">{{
        item.category_name
      }}</span>
    </div>

    <!-- Add more -->
  </div>

<div style="width: 250px; padding: 10px;">
  <label><strong>Price</strong></label>

  <div style="display: flex; justify-content: space-between; margin: 5px 0;">
    <div>₹{{ minValue }}</div>
    <div>₹{{ maxValue }}</div>
  </div>

  <ngx-slider
    [(value)]="minValue"
    [(highValue)]="maxValue"
    [options]="options">
  </ngx-slider>

  <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px;">
    <a (click)="resetPriceRange()" style="cursor:pointer; color: #ffffff; text-decoration: underline;">Reset price range</a>
    <button (click)="applyPriceFilter()" style="border: 1px solid #ccc; padding: 5px 15px; border-radius: 10px;">Go</button>
  </div>
</div>


    <div class="filter-section">
      <h3 class="category">New Arrivals</h3>
      <div class="category_items">
        <span
          *ngFor="let date of date"
          (click)="onDateFilterChange(date.value)"
        >
          {{ date.label }}
        </span>
      </div>
    </div>

    <!-- <div class="filter-section">
    <h3 class="category">New Arrivals</h3>
    <div class="category_items" *ngFor="let date of date">
      <span (click)="onDateFilterChange(data.label)">
        {{ date.label }}
      </span>
    </div>
  </div>
</aside> -->

    <!-- <div class="book_store">
  <div class="book_in">
    <div class="book_box" *ngFor="let book of product">
      <img
        [src]="book.image ? imageBaseUrl + 'uploads/' + book.image: ''"
        alt="Book image"
        height="100"
        width="100"
      />
      <div class="card-text">
        <h5>title : {{ book.title }}</h5>
        <span>description: {{ book.description }}</span>
        <span>price: {{ book.price }} </span>
        <span>author : {{ book.author }}</span>
        <h6 [routerLink]="['/view_detail', book.product_id]">view</h6>
      </div>
    </div>
  </div>
</div> -->
  
