<!-- Category Header -->
<!-- Category Header -->
<div class="category-header">
  <h1 class="order_list">Category List</h1>

  <div class="filter-container">
    <input
      type="text"
      class="search-input"
      placeholder="Search category..."
      class="search"
      [(ngModel)]="searchText"
      (ngModelChange)="applyFilter()"
    />

    <button class="add-book-btn" routerLink="/admin_dashboard/category">
      <i class="ri-add-circle-fill"></i> Add More Category
    </button>
  </div>
</div>

<!-- Category Table -->
<div class="read_task">
  <table class="table">
    <thead>
      <tr>
        <th>S.N</th>
        <th>Image</th>
        <th>Category Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of category; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <img
            [src]="
              category.image ? imageBaseUrl + 'uploads/' + category.image : ''
            "
            alt="category-image"
            class="category-image"
            height="100px"
            width="100px"
            style="border-radius: 5px; object-fit: contain"
          />
        </td>
        <td>{{ category.category_name }}</td>
        <td>{{ category.description }}</td>

        <td>
          <button
            class="edit-btn"
            [routerLink]="['../update-category', category.category_id]"
          >
            <i class="ri-edit-box-fill"></i> Edit
          </button>
          <button
            class="delete-btn"
            (click)="deleteCategory(category.category_id)"
          >
            <i class="ri-delete-bin-fill"></i> Delete
          </button>
        </td>
      </tr>
    
    
    </tbody>
  </table>
<mat-paginator
  [length]="totalRecords"
  [pageSize]="pageSize"
  (page)="onPageChange($event)">
</mat-paginator>
</div>
