.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
}

.order_list {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.add-book-btn {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.table th {
  background-color: #6a1b9a;
  color: white;
  padding: 12px;
  text-align: left;
}

.table td {
  padding: 12px;
  vertical-align: middle;
}

.category-image {
  height: 60px;
  width: auto;
  border-radius: 6px;
  object-fit: contain;
}


.filter-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.search {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 250px;
  outline-color: #6a1b9a;
}

.active-icon {
  color: #e82c2c;
}

.inactive-icon {
  color: rgb(7, 7, 7);
}

.category i {
  cursor: pointer;
  margin-left: 5px;
  font-size: 18px;
  display: flex;
  
}


