
<div class="order-list">
   
 
    <div class="left">
         <div class="container">
            <h1><strong>Orders List</strong></h1><hr>
    
          @if(user_items > 0){
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Customer Name</th>
                            <th>Item</th>
                            <th>Delivery Date</th>
                            <th>Price</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of uniqueOrderIds" [routerLink]="['/order_detail', order.random_number]">
                            <td>#Order-{{ order.random_number}}</td>
                            <td>{{order.full_name}}</td>
                            <td>{{order.total_item}}</td>
                            <td> {{order.estimate_delivery_date | date : 'dd/MM/yyyy'}}</td>
                            <td>{{order.total_pay}}</td>
                            <td><span class="status completed">{{order.order_status}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
          }

          @else{
           <div class="else_Section">
             <h1>My orders table Empty</h1>
           </div>
          }
        </div>

    </div>

    <div class="right">
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </div>


</div>


  
 
  