
/* .header{
   min-height:60px;
   width: 100% !important; 
   background-color: #4c0082d7;
   display: flex;
   position: fixed;
   justify-content: space-between !important;
   align-items: center;
   color: #fff;
   padding: 0vw 2vw;
   border-bottom:  1px solid #ffffff22;
 
}

.header #nav_menu .nav_items{
    display: flex;
    gap: 20px;
}

.header #nav_menu h3{
    font-family: neue;
    text-transform: capitalize;
    cursor: pointer;
}

.header1{
    font-family: neue-bold;
    font-size: 1.7vw;
    text-transform: capitalize;
}

span{
    color: #24CFA6;
}

#nav_menu #menu_icon{
    display: none !important;
}

#nav_menu #nav_items_bottom{
    display: none !important;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-top: 1px solid #fff;
}

.header{
    position: relative;
}

#side_menu{
   display: none;
    position: absolute;
    min-height: 100vh;
    width: 70%;
    background-color: red;
    margin: 0;
    padding: 0;
}

#home_nav{
    display: flex;
    gap: 20px;
    font-family: neue;
    text-transform: capitalize;
    cursor: pointer;
}

#anauthorized{
   height: 50px;
   width: 100% !important; 
   background-color: #000;
   display: flex;
   position: fixed;
   justify-content: space-between !important;
   align-items: center;
   color: #fff;
   padding: 0vw 2vw;
   border-bottom:  1px solid #ffffff22; 
}

#anauthorized{
    padding: 0vw 2vw; 
    font-family: neue-bold;
    font-size: 3vw;
    text-transform: uppercase;
}

.hidden_nav{
    display: none;
} */

/* .admin_header{
    
    display: flex !important;
    background-color: #000;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 3vw;
    border-bottom: 1px solid #ffffff51;
} */

/* .admin_nav{
    display: flex;
    gap: 20px;
    text-transform: capitalize;
    cursor: pointer;
}

.admin_nav h3{
    font-family: neue;
    cursor: pointer;
} */


/* @media (max-width:700px) {

    #menu_icon i{
        display: block !important;
        color: #24CFA6;
    }

    .header #nav_menu .nav_items{
        display: none;
        
    }
    
    .header{
        padding: 0vw 4vw;
     }

     .header #nav_menu h3{
         font-family: neue;
         text-transform: capitalize;
         cursor: pointer;
     }
     
     .header1{
         font-family: neue-bold;
         font-size: 3vw;
         text-transform: capitalize;
     }

     span{
         color: #24CFA6;
     }
} */

/* @media (max-width:500px) {

    .admin_nav{
        display: none;
    }

    .hidden_nav{
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
        gap: 190px;
        padding: 0vw 3vw;
    }

     .admin_menu{
        display: none;
    }

    .left_side{
        display: flex;    
    }

    .left_side i{
      font-size: 6vw;   
    }

    .right_side{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .right_side h2{
        font-size: 4vw;
        font-family: neue;
        text-transform: uppercase;
    } 

    .nav{
        display: none;
    }

    .header{
        height: 70px;
        width: 100% !important; 
        background-color: #000;
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        color: #fff;
        padding: 0vw 2vw;
        border-bottom:  1px solid #ffffff22;
     }

    #nav_menu #menu_icon{
        display:flex!important;
        justify-content: space-between !important;
        align-items: center  !important;
        gap: 60px;
        padding: 1vw 3vw;
    }

    #nav_menu #menu_icon h2{
        font-size: 4vw;
    }


     #menu_icon #circle_main{
        position: relative;
        font-size: 8vw;
    }
     #menu_icon #circle{
        position: fixed;
        top:0;
        left: 10px;
        background-color: #24CFA6;
        color: black;
        border-radius: 30%;
       font-size: 5vw;
       padding: 1vw;
    }

    .home_logo h1{
        font-size: 3vw;
        font-family: neue-bold !important;
        text-transform: uppercase;
    }

    .header{
        padding: 0vw 0vw;
     }

    .header{
        position: relative;
    }

    #side_menu{
        min-height: 100vh;
        cursor: pointer;
        position: fixed;
        overflow-x:scroll;
        display: none;
        height: calc(100vh - 60px);
        width: 70% !important;
        background-color: #24CFA6;  
        padding: 1vw 1vw;
        color: #000;
        z-index: 100;
        transition: linear;
    }

    .cancel{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 5vw;
        padding: 1vw 3vw;
    }

    .profile{
        display:flex;
        justify-content:flex-start;
        align-items: flex-end;
        gap: 20px;
        border-bottom: 1px solid #fff;
        padding: 4vw 2vw;
    }

    .help{
     display: flex;
     align-items: center;
     padding: 4vw 2vw;
    }
    .help span{
        color: #000;
       font-size: 3.2vw;
       font-family: neue;
       text-transform: capitalize;
    }
    .help .language span{
        color: #000;
       font-size: 3.2vw;
       font-family: neue;
       text-transform: capitalize;
    }
    .help .language{
        display: flex;
        flex-direction: column;
        border: 1px solid #ec353568;
        border-radius: 7px;
        padding:1vw 4vw;  
        gap: 10px; 
    }
    .help .language img{
        height: 30px;
        width: 40px;
    }
    .help .language img{
       margin: auto auto;
    }
    .help i{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .help .help_center{
        font-size: 5vw;
        border: 1px solid #db343468;
        border-radius: 7px;
        padding:2.1vw 4vw;   
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #side_menu .profile img{
        position: relative !important;
        height: 80px;
        width: 80px;
        border-radius: 50%; 
        object-fit: cover;
    }

    .side_items_in h4{
        color: #000;
        font-size: 3.5vw;
        font-family: neue;
        text-transform: capitalize;
        border-bottom: 1px solid #fff;
        padding: 2vw 3vw;
    }

    .profile #img{
        position: absolute;
        left: 75px;
        top:70px;
        font-size: 5vw;
    }
      

    .header #nav_menu .nav_items{
        display: none;
        gap: 20px;
    }

    .header #nav_items_bottom{
        padding: 1vw 4vw;
    }

    .header .menu{
        display: none;
    }

    #nav_menu #nav_items_bottom{
        background-color: #fff;
        color: #000;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


  

    
    /* .header #menu_icon{
        display: flex !important;
        justify-content: space-around !important;
        align-items: center;
        gap: 60px;
        padding: 0vw 2vw;
    } */



    /* .header #menu_icon i{
        font-size: 5.2vw;
    }

    .header #menu_icon h1{
        font-size: 4vw;
    }

    .header #menu_icon #circle_main{
        position: relative !important;
    }

    .header #menu_icon h3 #circle{
        position: absolute !important;
    } */


.header{
    width: 100%;
    height: 50px;
    background-color: #4b0084;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1vw 2vw;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.home_logo h1{
    font-family: neue-bold;
    text-transform: uppercase;
    margin-top: 1vw;
    cursor: pointer;
}

.home_nav{
    display: flex;
    gap: 20px;
}
.home_nav h3{
    font-family: neue;
    text-transform: capitalize;
    cursor: pointer;
    margin-top: 1vw;
}

.user_header{
    height: 50px;
    width: 100%;
    background-color: #4b0084;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.user_header .menu h1{
    font-family: neue-bold;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items : flex-end;
    margin-top: 1vw;
    cursor: pointer;
}

.user_header .nav_items{
    display: flex;
    gap: 35px;
}

.user_header .nav_items h3{
    font-family: neue;
    text-transform: capitalize;
    cursor: pointer;
   
}

.user_menus{
    /* background-color: red; */
    display: flex;
   gap: 20px;
  
}

.user_menus h3{
    margin-top: 1vw;
    cursor: pointer;
}

img{
    margin-top: 0.5vw;
}











