

.header{
    width: 100%;
    height: 50px;
    background-color: #4b0084;
    color: #000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1vw 2vw;
    /* position: fixed; */
    top: 0;
    z-index: 1000;
    color: #fff;
}

.home_logo h1{
    font-family: neue-bold;
    text-transform: uppercase;
    margin-top: 1vw;
    cursor: pointer;
}

.home_nav{
    display: flex;
    gap: 20px;
}
.home_nav h3{
    font-family: neue;
    text-transform: capitalize;
    cursor: pointer;
    margin-top: 1vw;
}

.user_header{
    /* margin-top: 60px; */
    height: 50px;
    width: 100%;
    background-color: #4b0084;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.user_header .menu h1{
    font-family: neue-bold;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items : flex-end;
    margin-top: 1vw;
    cursor: pointer;
}

.user_header .nav_items{
    display: flex;
    gap: 35px;
}

.user_header .nav_items h3{
    font-family: neue;
    text-transform: capitalize;
    cursor: pointer;
   
}

.user_menus{
    /* background-color: red; */
    display: flex;
   gap: 20px;
  
}

.user_menus h3{
    margin-top: 1vw;
    cursor: pointer;
}

img{
    margin-top: 0.5vw;
}











