<h1><strong>Contact Detail</strong></h1><hr>
<div class="read_task" *ngFor="let contact of contacts; let i = index">
    <div *ngIf="contact.length > 0">
      <table class="table">
        <tr>
            <th>S.N</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Message</th>
            <th>Action</th>
        </tr>

      
        <tr *ngFor="let contact of contacts; let i = index"> 
             <td> {{i+1}} </td>
             <td>{{contact.email}}</td>
             <td>{{contact.contact}}</td>
             <td>{{contact.message}}</td>
            <td (click)="deleteContact(contact.contact_id)"><i class="ri-delete-bin-fill"></i></td>
            <td><i class="ri-edit-box-fill"></i></td>
        </tr>
    
    </table>
     </div>

     <div style="display: flex; justify-content: center; align-items: center;">
        <h1>empty</h1>
     </div>
</div>

