.read_task{
    /* min-height: 100vh; */
    background-color: #0C0C0C;
    width: 100%;
    padding: 2vw 0vw;
    border-bottom: #dadada;
    color: #ffffff;
}
table{
    width: 100%;
}
table th{
    border-bottom: 1px solid #dadada3e;
    padding: 1vw 0vw;
    font-family: neue-bold;
    text-transform: capitalize;
}
table td{
    text-align: center;
    font-family: neue-light;   
}
table tr{
    margin-top: 1vw 0vw;
}
i{
    cursor: pointer;
}
