 <div class="read_task">
    <table class="table">
        <tr>
            <th>S.N</th>
            <th>Order_id</th>
            <th>product_id</th>
            <th>price</th>
            <th>quantity</th>
            <th>Action</th>
        </tr>

      
        <tr *ngFor="let Order of orderData; let i = index"> 
            <td>{{i+1}}</td>
            <td>{{Order.order_id}}</td>
            <td>{{Order.product_id}}</td>
            <td>{{Order.price}}</td>
            <td>{{Order.quantity}}</td>
            <td><i class="ri-delete-bin-fill"></i></td>
            <td><i class="ri-edit-box-fill"></i></td>
        </tr>
    
      
    </table>
</div> 




