<div class="category-header">
  <h1 class="order_list">Product List</h1>

  <div class="filter-container">
    <!-- Search -->
    <!-- <input
      type="text"
      class="search-input"
      placeholder="Search category..."
      [(ngModel)]="searchText"
      (ngModelChange)="applyCategoryFilter()"
    /> -->

    <!-- Category Dropdown -->
    <select class="category-filter" [formControl]="categoryControl">
      <option value="">All Categories</option>
      <option *ngFor="let categoryItem of category" [value]="categoryItem.category_id">
        {{ categoryItem.category_name }}
      </option>
    </select>

    <!-- Add Button -->
    <button class="add-book-btn" routerLink="/admin_dashboard/add_book">
      <i class="ri-add-circle-fill"></i> Add More Product
    </button>
  </div>
</div>

<hr />


<div class="scroll">
  <table mat-table [dataSource]="dataSource" class="tablele">
    <ng-container matColumnDef="SN">
      <th mat-header-cell *matHeaderCellDef>SN</th>
      <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
    </ng-container>

    
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>category</th>
      <td mat-cell *matCellDef="let element">
        {{ element.category_name }}
      </td>
    </ng-container>

      <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>image</th>
      <td mat-cell *matCellDef="let element">
        <img
          [src]="element.image ? imageBaseUrl + 'uploads/' + element.image : ''"
          alt="Book image"
          height="100"
          width="100"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>author</th>
      <td mat-cell *matCellDef="let element">{{ element.author }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <ng-container matColumnDef="discount-type">
      <th mat-header-cell *matHeaderCellDef>discount-type</th>
      <td mat-cell *matCellDef="let element">{{ element.discount_type }}</td>
    </ng-container>

    <ng-container matColumnDef="discount-value">
      <th mat-header-cell *matHeaderCellDef>discount-value</th>
      <td mat-cell *matCellDef="let element">{{ element.discount_value }}</td>
    </ng-container>

    <ng-container matColumnDef="offer-price">
      <th mat-header-cell *matHeaderCellDef>offer-price</th>
      <td mat-cell *matCellDef="let element">{{ element.offer_price }}</td>
    </ng-container>
 
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
       
        <button
            class="edit-btn"
          (click)="updateBooks(element.product_id)"
          [routerLink]="['../book_update', element.product_id]"
        >
          <i class="ri-edit-box-fill"></i> Edit
        </button>
         <button
          (click)="delete_books(element.product_id)"
          class="delete-btn"
        >
          <i class="ri-delete-bin-fill"></i> Delete
        </button>
      </td>
    </ng-container>

   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>


<mat-paginator
  [length]="totalRecords"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
>
</mat-paginator>


