<div class="category-header">
  <h1 class="order_list">Product List</h1>

  <div class="filter-container">
    <select class="category-filter" [formControl]="categoryControl">
      <option value="">All Categories</option>
      <option
        *ngFor="let categoryItem of category"
        [value]="categoryItem.category_id"
      >
        {{ categoryItem.category_name }}
      </option>
    </select>

    <button class="add-book-btn" routerLink="/admin_dashboard/add_book">
      <i class="ri-add-circle-fill"></i> Add More Product
    </button>
  </div>
</div>

<div class="scroll" style="overflow-x: auto">
  <table class="normal-table">
    <thead>
      <th>SN</th>

      <th style="display: flex; justify-content: center; align-items: center">
        category
        <div class="category">
        
        </div>
      </th>

      <th>Image</th>
      <th>Title</th>
      <th>Author</th>

      <th>price</th>

      <!-- <th>Publication Date</th> -->

      <th>discount_type</th>
      <th>discount-value</th>
      <th>offer_price</th>
      <th>publication_date</th>
      <th>Action</th>
    </thead>

    <tbody>
      <tr *ngFor="let element of data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ element.category_name }}</td>
        <td>
          <img
            [src]="
              element.image ? imageBaseUrl + 'uploads/' + element.image : ''
            "
            alt="Book image"
            height="80"
            width="80"
          />
        </td>
        <td>{{ element.title }}</td>
        <td>{{ element.author }}</td>
        <td>{{ element.price }}</td>
        <td>{{ element.discount_type }}</td>
        <td>{{ element.discount_value }}</td>
        <td>{{ element.offer_price }}</td>
        <td>{{ element.publication_date | date : "dd MMM yyyy" }}</td>

        <td>
          <button
            class="edit-btn"
            [routerLink]="['../book_update', element.product_id]"
          >
            <i class="ri-edit-box-fill"></i> Edit
          </button>
          <button class="delete-btn" (click)="deleteBooks(element.product_id)">
            <i class="ri-delete-bin-fill"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<mat-paginator
  [length]="totalRecords"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
>
</mat-paginator>
