 <h1><strong>Admin Dashboard</strong></h1><hr>
 
 <div class="boxes">
    <div class="box" routerLink="/admin_dashboard/users">
        <i class="ri-user-fill"></i>
        <div class="total_user_count">
            <p>Users</p>
            <span>{{totalUsers}}</span>
        </div>
    </div>
    <div class="box" routerLink="/admin_dashboard/read_book">
        <i class="ri-bus-2-fill"></i>
        <div class="total_user_count">
            <p>Product</p>
            <span>{{totalBooks}}</span>
        </div>
    </div>
    <div class="box" routerLink="/admin_dashboard/contact">
        <i class="ri-phone-fill"></i>
        <div class="total_user_count">
            <p>Help & security</p>
            <span>{{totalContact}}</span>
        </div>
    </div>
    <div class="box" routerLink="/admin_dashboard/order">
        <i class="ri-shopping-bag-4-fill"></i>
        <div class="total_user_count">
            <p>Orders</p>
            <span>{{totalOrder}}</span>
        </div>
    </div>
    <div class="box" routerLink="/admin_dashboard/company">
        <i class="ri-contacts-book-fill"></i>
        <div class="total_user_count">
            <p>Contact Us</p>
            <span>{{companyInfo}}</span>
        </div>
    </div>

</div>
