.form{
    /* min-height: 100vh; */
    width: 100%;
    background-color:#fff;
    /* background-color: #4b0082; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 2px 5px #0000001a;
    /* margin: 1vw 0vw; */
}
form{
    /* min-height: 100vh; */
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vw 2vw !important;
    /* z-index: 10; */
}
 h1{
    font-size: 2vw;
    font-family: neue-bold;
    text-transform: capitalize;
}
form label{
    color: black;
    font-size: 1vw;
    text-transform: capitalize;
    font-family: neue-light;
    font-weight: 200;
    letter-spacing: 0.1vw;
    margin-bottom: 0.5vw;
}

form input,button{
    display: block;
    width: 100%;
    padding: 0.7vw;
    /* margin-bottom: 1vw; */
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #f4f4f4;
    color: #000;
    padding-left: 1vw;
}

input::placeholder{
    color: #000;
    font-family: verdana;
    font-weight: 100;
    font-size: 1vw;
    font-family: neue-light;
    letter-spacing: 0.1vw;
}

button{
    width: 50%;
    background-color: #4b0082;
    color: #fff;
    font-family: neue-bold;
    font-size: 1vw;
    margin: 1vw auto;
    cursor: pointer;
}
.flex{
    padding-bottom: 1vw;
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
 .flex p{
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 100;
    font-size: 0.9vw;
    color: #EFEAE3;
}
 .flex a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 100;
    font-size: 0.9vw;
    color: #EFEAE3;
    cursor: pointer;
}
textarea{
    width: 100%;
}