<h1>ADD <span>More Book</span></h1>
<hr>
    <div class="form">  
        <form (ngSubmit)="addBook()" method="POST" enctype="multipart/form-data">   
            <label for="">Enter title</label>
            <input type="text" name="title" id="" placeholder="" [(ngModel)]="add_book.title">
            <label for="">Enter author</label>
            <input type="text" name="author" id="" placeholder="" [(ngModel)]="add_book.author">
            <label for="">Enter description</label>
            <textarea type="text" name="description" cols="20" rows="5" id="" placeholder="" [(ngModel)]="add_book.description"> </textarea>
            <label for="">Enter price</label>
            <input type="number" name="price" id="" placeholder="" [(ngModel)]="add_book.price"> 
            <label for="">Enter image</label>
            <input type="file" name="image" id="" placeholder="Select Image" (change)="onFileChange($event)"> 
           <button type="submit">Add Book</button>   
        </form>

    </div>
    