
<div class="container">
        
  <div class="product-section">
      <div class="product" *ngFor="let item of order_details; let i = index">
        <img [src]="item.image ? 'http://localhost:3000/' + item.image : ''" alt="Book image">
          <div class="product-info">
              <h2>Title: {{item.title}}</h2>
              <p>Description:{{item.description}}.</p>
              <p><strong>Price:</strong> {{item.price | currency:'INR'}}</p>
              <p><strong>Quantity:</strong> {{item.quantity}}</p>
              <!-- <p><strong>Pay:</strong> {{item.total_amount | currency:'INR'}}</p> -->
              <!-- <button class="remove-btn">Remove</button> -->
          </div>
      </div>
  </div>

  
  <div class="details-section">
      
      <!-- Delivery Address -->
      <h3><i class="ri-map-pin-2-fill"></i><strong> Delivery Address</strong></h3><hr>
      <div class="address" >
        <div *ngFor="let item of order_details; let i = index">
          <div class="address-box" *ngIf="i === 0">
              <p><strong>{{item.full_name}}</strong></p>
              <p>{{item.house_no}}, {{item.road_name}}</p>
              <p>{{item.city}},  {{item.state}} - {{item.pincode}}</p>
              <p>📞 {{item.contact}}</p>
              <!-- <button class="change-btn">Change ▼</button> -->
          </div>
        </div> 
      </div>

      <!-- Billing Information -->
      <h3><i class="ri-file-list-3-fill"></i> <strong>Billing Information</strong></h3><hr>
      <div class="billing">
        <div  *ngFor="let item of order_details; let i = index">
         <div *ngIf="i === 0"> 
          <p><strong>Total Items:</strong> {{item.total_item}}</p>
          <p><strong>Subtotal:</strong>  {{item.total_pay | currency:'INR'}}</p>
          <p><strong>Discount:</strong> 10%</p>
          <hr>
          <p class="grand-total"><strong>Grand Total:</strong>  {{item.total_pay | currency:'INR'}}</p>
         </div>
          <!-- <button class="continue-btn">Continue</button> -->
      </div>
    </div>

  </div>

</div>

