
<div class="about">
    <div class="left">
       <div class="left_content">
        <h1>for english learning purpose books available here</h1>
       <p> you want to improve your knowledge so buy some book to for skill improperness </p>
       <button routerLink="/signup">signup now</button>
       </div>
    </div>
    <div class="right">
        <img src="assets/image/about.png" alt="">
          <!-- <img src="https://img.freepik.com/free-psd/books-stacked-isolated-transparent-background_191095-17333.jpg" alt=""> -->
         <!-- <img src="https://www.shutterstock.com/image-vector/people-library-persons-reading-books-260nw-1428780845.jpg" alt=""> -->
    </div>
</div>