<!-- <div class="form_div">
    <h1><i class="ri-book-open-fill"></i>  ADD <span>More Book</span></h1>
    <div class="inner_div">
        <form  (ngSubmit)="addBook()" method="POST" enctype="multipart/form-data"> 
           
            <div class="form-row">
             
              <input  name="title" [placeholder]="Enter Title"  [(ngModel)]="add_book.title"/>
              <input  name="author" [placeholder]="Enter Author" [(ngModel)]="add_book.author"/>
            </div>
          
            
            <textarea  name="description" [placeholder]="Enter Description" [(ngModel)]="add_book.description"></textarea>
          
            
            <div class="form-row">

              <input type="number" name="price" [placeholder]="Enter MRP Price"
               [(ngModel)]="add_book.price" (ngModelChange)="calculateOfferPrice()"/>
         
             <select name="discount_type" [(ngModel)]="add_book.discount_type" (ngModelChange)="calculateOfferPrice()">
               <option value="">Select Discount Type</option>
               <option value="percent">Percentage</option>
               <option value="amount">Fixed Amount</option>
             </select>
         
             <input type="number" name="discount_value" [placeholder]="Discount Value" [(ngModel)]="add_book.discount_value" 
             (ngModelChange)="calculateOfferPrice()"/>
              
              <input type="number" name="offer_price" [value]="add_book.offer_price || 'offer_price'" readonly [placeholder]="Offer Price" />
            </div>
          
           
            
            <div class="form-row">
                <select id="category" name="category" class="dropdown"  ">
                    <option value="">Choose Category</option>
                    <option *ngFor="let category of data" [value]="category.category_id">
                        {{ category.category_name }}
                      </option>
                </select>
          
              <input type="number"name="stock"  [placeholder]="Enter Stock" [(ngModel)]="add_book.stock"/>
            </div>
          
           
        
            <div class="form-row">
                <input type="file" name="image" [placeholder]="select image"  
                (change)="onFileChange($event)" class="same" [(ngModel)]="add_book.image"/>

                <input type="date" name="pub_date" name="publication_date"  class="same" [(ngModel)]="add_book.pub_date"/>
            </div>
          
          
            <div class="button-container">
                <button type="submit">Add Book</button>
              </div>
          </form>
    </div>

</div> -->

<div class="form-wrapper">
  <h2><i class="ri-book-open-fill"></i> ADD <span>More Book</span></h2>

  <form [formGroup]="addProductForm" enctype="multipart/form-data">
    <div class="grid-2">
      <app-validation
        [type]="'text'"
        name="title"
        [placeholder]="'Enter Title'"
        [control]="addProductForm.controls.title!"
      >
      </app-validation>

      <app-validation
        [type]="'text'"
        name="author"
        [placeholder]="'Enter Author'"
        [control]="addProductForm.controls.author!"
      >
      </app-validation>
    </div>

    <app-validation
      [type]="'text'"
      name="description"
      [placeholder]="'Enter Description'"
      [control]="addProductForm.controls.description!"
    >
    </app-validation>

    <div class="grid-2">
      <app-validation
        [type]="'text'"
        name="price"
        [placeholder]="'Enter MRP Price'"
        [control]="addProductForm.controls.price!"
        (change)="calculateOfferPrice()"
      >
      </app-validation>

      <select formControlName="discount_type" (change)="calculateOfferPrice()">
        <option value="">Select Discount Type</option>
        <option value="percent">Percentage</option>
        <option value="amount">Fixed Amount</option>
      </select>

      
      <app-validation
        [type]="'text'"
        name="discount_value"
        [placeholder]="'Enter discount-value'"
        [control]="addProductForm.controls.discount_value!"
        (change)="calculateOfferPrice()"
      >
      </app-validation>

      
      <!-- <app-validation
        [type]="'text'"
        name="offer_price"
        [placeholder]="'Enter offer_price'"
        [control]="addProductForm.controls.offer_price!"
        (change)="calculateOfferPrice()"
      >
      </app-validation> -->
      
    </div>

    <div class="grid-2">
      <!-- <app-validation
        [type]="'number'"
        name="discount_value"
        [placeholder]="'Discount Value'"
        [control]="addProductForm.controls.discount_value!"
        (change)="calculateOfferPrice()"
      >
      </app-validation> -->

      <input
        type="number"
        readonly
        placeholder="Offer Price"
        (change)="calculateOfferPrice()"
        value="offer_price"
        formControlName="offer_price"
        class="readonly-input"
      />
    </div>

    <div class="grid-2">
      <select formControlName="category_id">
        <option value="">Choose Category</option>
        <option *ngFor="let category of data" [value]="category.category_id">
          {{ category.category_name }}
        </option>
      </select>

      <app-validation
        [type]="'number'"
        name="stock"
        [placeholder]="'Enter Stock'"
        [control]="addProductForm.controls.stock!"
      >
      </app-validation>
    </div>

    <div class="grid-2">
      <app-validation
        [type]="'file'"
        name="image"
        [placeholder]="'Select Image'"
        (change)="onFileChange($event)"
        [control]="addProductForm.controls.image!"
      >
      </app-validation>

      <app-validation
        [type]="'date'"
        name="pub_date"
        [placeholder]="'Publication Date'"
        [control]="addProductForm.controls.date!"
      >
      </app-validation>
    </div>

    <div class="button-wrapper">
      <button
        type="button"
        (click)="submitProductForm()"
        [disabled]="addProductForm.invalid"
      >
        Add Book
      </button>
    </div>
  </form>
</div>

<!-- <div class="form_div">
  <h1><i class="ri-book-open-fill"></i> ADD <span>More Book</span></h1>
  <div class="inner_div">
    <form [formGroup]="addProductForm" enctype="multipart/form-data">
      <div class="form-row">
        <div class="form-group">
          <input
            name="title"
            [placeholder]="Enter Title"
            control="title"
          />
          
          <small class="text-danger">{{ getError("title") }}</small>
        </div>

        <div class="form-group">
          <input
            name="author"
            [placeholder]="Enter Author"
            control="author"
          />
          <small class="text-danger">{{ getError("author") }}</small>
        </div>
      </div>

      <div>
        <textarea
          name="description"
          [placeholder]="Enter Description"
          control="description"
        ></textarea>
        <small class="text-danger">{{ getError('description') }}</small>
      </div>

      <div class="form-row">
         <div class="form-group">
          <input
          type="number"
          name="price"
          [placeholder]="Enter MRP Price"
          control="price"
          (ngModelChange)="calculateOfferPrice()"
        />
        <small class="text-danger">{{ getError('price') }}</small>
        <select
          name="discount_type"
          control="discount_type"
          (ngModelChange)="calculateOfferPrice()"
        >
          <option value="">Select Discount Type</option>
          <option value="percent">Percentage</option>
          <option value="amount">Fixed Amount</option>
        </select>
        <small class="text-danger">{{ getError('discount_type') }}</small>

        <input
          type="number"
          name="discount_value"
          [placeholder]="Discount Value"
          control="discount_value"
          (ngModelChange)="calculateOfferPrice()"
        />
        <small class="text-danger">{{ getError("discount_value") }}</small>

        <input
          type="number"
          name="offer_price"
          control="offer_price"
          [placeholder]="Offer Price"
          readonly
        />
         </div>
      </div>

      <div class="form-row">
        <select
          id="category"
          name="category"
          class="dropdown"
          control="category_id"
        >
          <option value="">Choose Category</option>
          <option *ngFor="let category of data" [value]="category.category_id">
            {{ category.category_name }}
          </option>
        </select>
        <small class="text-danger">{{ getError('category_id') }}</small>

        <input
          type="number"
          name="stock"
          [placeholder]="Enter Stock"
          control="stock"
        />
        <small class="text-danger">{{ getError('stock') }}</small>
      </div>

      <div class="form-row">
        <input
          type="file"
          name="image"
          [placeholder]="select image"
          class="same"
          (change)="onFileChange($event)"
          control="image"
        />
        <small class="text-danger">{{ getError("image") }}</small>

        <input
          type="date"
          name="pub_date"
          name="publication_date"
          class="same"
          control="date"
        />
        <small class="text-danger">{{ getError("date") }}</small>
      </div>

      <div class="button-container">
        <button (click)="submitProductForm()" [disabled]="addProductForm.invalid">Add Book</button>
      </div>
    </form>
  </div>
</div> -->
