<div class="top-bar">
    <h2>User Dashboard</h2>
  
    <div class="filter-bar">
      <select  [(ngModel)]="selectedRole">
        <option value="">🔹 Role Type</option>
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>
  
      <div class="search-box">
        <input type="text" [(ngModel)]="searchQuery" placeholder="🔍 Search...">
      </div>
  
      <button (click)="applyFilters()">✔ Apply</button>
      <button (click)="resetAll()">✖ Reset</button>
    </div>
  </div>
  


<div class="read_task">
    <table class="table">
        <tr>
            <th>S.N</th>
            <th>profile</th>
            <th>username</th>
            <th>email</th>
            <th>role-type</th>
            <th>active</th>
            <th>action</th>
        </tr>


        <tr *ngFor="let user of usersData; let i = index">
            <td>{{i+1}} </td>
            <td>
                <img *ngIf="user.profile_image; else defaultImage" [src]="'http://localhost:3000' + user.profile_image"
                    alt="User Image" height="60px" width="60px" style="border-radius: 50%;">

                <ng-template #defaultImage>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo2Rx5rFKLf6Rt59A_3o5HI9dmdUSLnUj4DWq24jZuDQSvC0Gz4-HmWXpPljwsz3jroYg&usqp=CAU"
                        alt="Default Profile Image" height="60px" width="60px" style="border-radius: 50%;">
                </ng-template>
            </td>

            <td>{{user.user_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
              </td>
              
            <td>
                <button class="btn btn-sm btn-primary">
                    <i class="fas fa-edit"></i> Edit
                </button>
                <button (click)="user_delete(user.user_id)" class="btn btn-sm btn-danger">
                    <i class="fas fa-trash"></i> Delete
                </button>
            </td>

        </tr>


    </table>
</div>