.user_items{
    /* height: 100h; */
    width: 100%;
    display: flex; 
    /* justify-content: space-between; */
    margin: 1vw 0vw;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 20px !important;
    
}
.left{
    /* min-height: calc(100vh - 60px); */
    width: 60%;
    padding: 1vw 1vw;
    background-color: #fff;
    color: #000;
    border-right: 1px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.left h1{
    font-size: 1.5vw;
    font-family: neue-bold;
    padding: 0vw 0vw;
    text-transform: capitalize;
    border-bottom: 1px solid #ffffff46;

}
table{
    width: 100%;
}
table th{
    border-bottom: 1px solid #dadada3e;
    padding: 1vw 0vw;
    font-family: neue-bold;
    text-transform: capitalize;
}
table td{
    
    font-family: neue-light;   
}
table tr{
    margin-top: 1vw 0vw;
}
i{
    cursor: pointer;
}

.right{
    min-height: calc(100vh - 60px);
    padding: 1vw;
    width: 40%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right_in1{
    width: 100%;
    background-color:#f4f4f4;
    color: #000;
    padding: 2vw;
    box-shadow: 4px 4px 10px rgba(91, 89, 89, 0.04), -4px -4px 10px rgba(102, 100, 100, 0);
    border: 1px solid rgba(255, 255, 255, 0.114);
}

.right_in1 label{
    font-size: 1.2vw;
    font-family: neue-bold;
    color:#000;
    text-transform: capitalize;
}

.right_in1 span{
    font-size: 1vw;
    font-family: neue;
    text-transform: capitalize;
}

.right_in1 i{
    font-size: 1.5vw;
    color: rgb(0, 153, 255);
}

.right_in1 span{
    font-size: 1vw;
    font-family: neue;
    text-transform: capitalize;
    line-height: 1.7vw;
}

.left_in2{
    width: 50%;
    background-color: #000;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    box-shadow: 4px 4px 10px rgba(91, 89, 89, 0.04), -4px -4px 10px rgba(102, 100, 100, 0);
    border: 1px solid rgba(255, 255, 255, 0.114);
}
.right h3{
    font-size: 1.5vw;
    font-family: neue-bold;
    text-transform: capitalize;
    padding: 0vw 0vw;
    color: #000;
}

#amount{
    line-height: 2vw;
    
}
