<!-- <div class="form" *ngFor="let orderdata of order_data"> 
    <form method="POST" enctype="multipart/form-data">
        <h1>welcome to <span>Book Store</span></h1>
        <label for="">Enter title</label>
        <input type="text" name="title" id="" placeholder="word power made easy">
        <label for="">Enter author</label>
        <input type="text" name="author" id="" placeholder="db.rabada">
        <label for="">Enter description</label>
        <input type="text" name="description" id="" placeholder="Enter description"> 
        <label for="">Enter price</label>
        <input type="number" name="price" id="" placeholder="Enter Price"> 
        <label for="">Enter image</label>
        <input type="file" name="image" id="" placeholder="Select Image"> 
       <button type="submit">Add Book</button>   
    </form>
</div> -->
