/* You can add global styles to this file, and also import other style files */
/* @font-face {
    font-family: neue;
    src: url(./assets/font/NeueMachina-Regular.otf);
}
@font-face {
    font-family: neue-light;
    src: url(./assets/font/NeueMachina-Light.otf);
}
@font-face {
    font-family: neue-bold;
    src: url(./assets/font/NeueMachina-Ultrabold.otf);
} */

*{
    /* font-family : Helvetica,  !important; */
    font-weight: 300 !important;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



html, body { height: 100%; width: 100%;}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.edit-btn,
.delete-btn {
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 3px;
  transition: all 0.3s ease;
 
}


.edit-btn {
  background-color: #4caf50; 
  color: white;
}

.edit-btn:hover {
  background-color: #388e3c;
  transform: scale(1.05);
}


.delete-btn {
  background-color: #f44336; 
  color: white;
  margin-left: 8px;
}

.delete-btn:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}

::ng-deep .mat-paginator .mat-icon-button svg {
  color: black !important;
  fill: black !important;
}

/* .spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #7c4bdd;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
} */





/* .error-snackbar {
  background-color: #f44336; 
  color: white;
  font-weight: bold;
}

.success-snackbar {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
