<div class="container">
    <h2>Add/Edit Category</h2>

    <form (ngSubmit)="addBook()" method="POST" enctype="multipart/form-data">
        <!-- Category Name -->
        <label for="category-name">Category Name <span class="required">*</span></label>
        <input type="text" id="category-name" name="category-name" placeholder="Enter category name" required [(ngModel)]="add_category.category_name">

        <!-- Category Description -->
        <label for="category-desc">Description</label>
        <textarea id="category-desc" name="category-desc" rows="3" placeholder="Enter category description" [(ngModel)]="add_category.discription"></textarea>

        <!-- Category Image Upload -->
        <label for="category-image">Upload Image</label>
        <input type="file" id="category-image" name="category-image" (change)="onFileChange($event)">

     

       
        <div class="btn-group">
            <button type="submit" class="submit-btn">Save Category</button>
            <!-- <button type="reset" class="reset-btn">Reset</button> -->
        </div>
    </form>
</div>
