<header>
  <h1>Category Management</h1>
</header>

<section class="category-form">
  <h2>Add/Edit Category</h2>

  <form [formGroup]="categoryForm" enctype="multipart/form-data">
    <div class="form-group">
      <label>Category Name <span class="required">*</span></label>
      <input
        type="text"
        placeholder="Enter category name"
        name="category_name"
        required
        formControlName="category_name"
      />
       <small class="text-danger">{{ getError('category_name') }}</small>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea
        placeholder="Enter category description"
        name="Category_dis"
        formControlName="category_description"
      ></textarea>
      <small class="text-danger">{{ getError('category_description') }}</small>
    </div>

    <div class="form-group">
      <label>Upload Image</label>
      <input
        type="file"
        name="file"
        (change)="onFileChange($event)"
        formControlName="category_image"
      />
      <small class="text-danger">{{ getError('category_image') }}</small>
    </div>

    <button type="submit" (click)="insertCategory()" [disabled]="categoryForm.invalid" class="save-btn">
      Save Category
    </button>
  </form>
</section>
