<header>
  <h1>Category Management</h1>
</header>

<section class="category-form">
  <h2>Add Category</h2>

  <form [formGroup]="categoryForm" enctype="multipart/form-data">
    <div class="form-group">
     
      <app-validation
       [type]="'text'"
       [placeholder]="'Enter category name'"
        name="category_name"
        required
        [control]="getControl('category_name')"
      >
      </app-validation>   
    </div>

    <div class="form-group">
    
      <app-validation
       [type]="'text'"
       [placeholder]="'Enter category description'"
        name="Category_dis"
        required
        [control]="getControl('category_description')"
      >
      </app-validation>  
    </div>

    <div class="form-group">
    
      <app-validation
        [type]="'file'"
        name="file"
        (change)="onFileChange($event)"
        [control]="getControl('category_image')"
      ></app-validation>
     
    </div>

    <button type="submit" (click)="insertCategory()" [disabled]="categoryForm.invalid" class="save-btn">
      Save Category
    </button>
  </form>
</section>
